@tailwind base;
@tailwind components;
@tailwind utilities;

/* =====================================
   TRIBUNANET SCORE ANIMATION
===================================== */

@keyframes scorePop {

    0% {
        transform: scale(1);
    }

    30% {
        transform: scale(1.20);
    }

    60% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }

}

.score-pop {

    animation: scorePop .35s ease;

}